.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    /* grid-template-columns: auto auto auto auto; */
    gap: 26px;
    place-content: center;
}

.product_card {
    width: 240px;
}

.product_card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product_info figure {
    margin: 0;
}

.product_info figure img {
    width: 35px;
    height: 35px;
}

.product_info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product_info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media (max-width: 640px) {
    .cards_container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product_card {
        width: 140px;
    }
    .product_card img{
        width: 140px; 
        height: 140px;
    }
}