.product_detail {
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    box-sizing: border-box;

}

.my_order_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.title_container {
    display: flex;
}

.title_container img {
    display: flex;
    transform: rotate(180deg);
    margin-right: 14px;
}

.my_order_content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:first-child {
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.order p span:first-child {
    font-size: var(--md);
    font-weight: bold;
}

.shopping_cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping_cart figure {
   margin: 0;
}

.shopping_cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping_cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping_cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary_button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}



@media (max-width: 640px) {
    .product_detail {
        width: 100%;
    }
}